<div class="container my-5 col-sm-6 col-10">
  
  <div class="row justify-content-center">
    
    <div class="card border-dark py-4 px-5">
    <h2 class="name">コミュニティ追加</h2>
      <div>
        <%= render 'layouts/errors', obj: @group %>
        <%= form_with model: @group, url: groups_path, method: :post, local:true do |f| %>
        
        <div class="field mt-3">
          <%= f.label :グループ画像%><br/>
          <%= f.attachment_field :group_image, class:"form-control-file" %>
        </div>
        
        <div class="field mt-3">
          <%= f.label :グループ名%><br/>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        
        <div class="field mt-3">
          <%= f.label :概要 %><br/>
          <%= f.text_area :introduction, class:"form-control" %>
        </div>
        
        <div class="field mt-3">
          <%= f.label :ハッシュタグ %><br/>
          <%= f.text_area :hashbody, size:"55x3", class:"form-control" %>
        </div>
        
        <div class="field mt-3">
          <%= f.label :ジャンル %><br/>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {:prompt => "-- 選択してください --"}, {class: "genre_width px-1 form-control"}) %>
        </div>
        
        <div class="actions mt-3">
          <%= f.submit "保存する", class:"btn btn-success" %>
        </div>
        
        <% end %>
      </div>
    </div>
  </div>
</div>