<div class="container col-sm-8 col-10">
  <div class="row mt-4">
    <div><%= attachment_image_tag @group, :group_image, :fill, 80, 80, fallback: "no-image.png", size: "80x80", class:"rounded-circle" %></div>
    <h2 class="name d-flex align-items-center ml-3">コミュニティ名：<%= @group.name %></h2>
  </div>
  
  <div>
    <%= render_with_hashtags(@group.hashbody) %>
  </div>
  
  <div class="mt-2">
    <%= link_to "メンバー一覧", group_members_path(@group), class:"btn btn-info col-sm-4 col-10" %>
  </div>
  
  <div class="mt-2">
    <% if @group.owner_id == current_user.id %>
      <%= link_to " グループを編集する", edit_group_path(@group), class: "btn btn-lg btn-secondary fas fa-users-cog col-sm-4 col-10" %>
    <% elsif @group.users.include?(current_user) %>
      <%= link_to "グループから脱退", group_unjoin_path(@group), method: :delete, class: "btn btn-danger col-sm-4 col-10" %>
    <% else %>
      <%= link_to "グループに参加する", group_join_path(@group), class: "btn btn-success col-sm-4 col-10" %>
    <% end %>
  </div>
  
  <div>
    <h4 class="mt-3">概要</h4>
    <div class="card border-dark">
      <%= simple_format(Rinku.auto_link(@group.introduction, :all, 'target="_blank"').html_safe) %>
    </div>
  </div>
  
  <div class="row mt-5">
    <h4>投稿一覧</h4>
    <div class="ml-auto"><%= link_to " 投稿する", new_group_group_post_path(@group.id), class:"btn btn-success far fa-clipboard" %></div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>タイトル</th>
          <th>投稿者</th>
          <th>コメント数</th>
          <th>Pv数</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @group_posts.each do |group_post| %>
          <tr>
            <td><%= truncate(group_post.title, length:10) %></td>
            <td><%= group_post.user.name %></td>
            <td><%= group_post.group_post_comment.count %></td>
            <td><%= group_post.impressionist_count(:filter=>:ip_address) %></td>
            <td><%= link_to "詳細", group_group_post_path(@group, group_post) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="pagination">
    <%= paginate @group_posts %>
  </div>
  
  <div class="row justify-content-center my-4">
    <% if @group.owner_id == current_user.id %>
      <%= link_to "グループを削除する", group_path(@group), method: :delete, "data-confirm" => "削除しますか？", class: "btn btn-danger col-sm-3 col-8" %>
    <% end %>
  </div>
  
</div>