<div class="container col-sm-8 col-10">
  <div class="row mt-4">
    <h2 class="font-name name">タイトル：<%= @group_post.title %></h2>
  </div>

  <div class="mt-2">
    <h4>投稿者：<%= @group_post.user.name %></h4>
  </div>
  
  <div class="mt-4">
    <h4 class="font-name">投稿内容</h4>
    <div class="card border-dark">
      <%= simple_format(Rinku.auto_link(@group_post.content, :all, 'target="_blank"').html_safe) %>
    </div>
  </div>

  <div class="row">
    <div class="text-success my-3 ml-3">
      ♥<%= @group_post.group_post_favorites.count %> いいね
    </div>
    <div class="ml-auto">
      <p>
        作成日時：<%= @group_post.created_at.to_s(:datetime_jp) %><br/>
        更新日時：<%= @group_post.updated_at.to_s(:datetime_jp) %><br/>
        閲覧数：<%= @group_post.impressionist_count(:filter=>:ip_address) %>
      <p>
    </div>
  </div>
  
  <div class="mt-5">
    <h4 class="font-name">コメント一覧</h4>
    <div>
      <%= render 'admin/group_post_comments/group_post_comments', group_post: @group_post %>
    </div>
  </div>
  
  <div class="pagination">
    <%= paginate @group_post_comments %>
  </div>

  <div class="row justify-content-center my-5">
    <%= link_to "投稿を削除する", admin_group_group_post_path(@group_post.group, @group_post), method: :delete, "data-confirm" => "削除しますか？", class:"btn btn-danger mx-4  mt-2 col-sm-3 col-6" %>
    <%= link_to "グループトップへ", admin_group_path(@group), class:"btn btn-primary mx-4 mt-2 col-sm-3 col-6" %>
  </div>

</div>

