<div class="container my-5 col-6">
  
  <div class="row justify-content-center">

  <div>
    <h1><%= @user.name %> さんとのチャット</h1>
    <div class="col-xs-6" style="width: 600px;">
      <table class="table">
        <thead>
          <tr>
            <th style="text-align: left; font-size: 20px;"><%= current_user.name %></th>
            <th style="text-align: right; font-size: 20px;"><%= @user.name %></th>
          </tr>
        </thead>
        <div>
          <tbody id="chat_message">
          <% @chats.each do |chat| %>
            <% if chat.user_id == current_user.id %>
              <tr>
                <th>
                  <p style="text-align: left;"><%= chat.message %></p>
                </th>
                <th></th>
              </tr>
            <% else %>
              <tr>
                <th></th>
                <th>
                  <p style="text-align: right;"><%= chat.message %></p>
                </th>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </div>
      </table>
      <%= form_with model: @chat, method: :post, remote: true do |f| %>
        <%= f.text_field :message %>
        <%= f.hidden_field :room_id, value: @chat.room_id %>
        <%= f.submit "送信", class:"btn btn-sm btn-success chat-btn" %>
      <% end %>
    </div>
  </div>
  </div>
</div>




