<div class="container">
  <h2><%= @group_post.title %></h2>

  <div>
    <h4>投稿者</h4>
    <%= @group_post.user.name %>
  </div>

  <div>
    <h4>作成日時</h4>
    <%= @group_post.created_at.to_s(:datetime_jp) %>
    <h4>更新日時</h4>
    <%= @group_post.updated_at.to_s(:datetime_jp) %>
  </div>

  <div>
    <%= @group_post.content %>
  </div>
  
  <div>
    閲覧数:<%= @group_post.impressionist_count(:filter=>:ip_address) %>
  </div>
  
  <div id="favorite">
    <!--ユーザー側のお気に入り機能の非同期通信-->
    <%= render 'public/group_post_favorites/group_post_favorites', group_post: @group_post %>
  </div>
  
  <div class="comment">
    <%= render 'public/group_post_comments/group_post_comments', group_post: @group_post %>
  </div>
  
  <div>
    <%= form_with model: @group_post_comment, url: group_post_group_post_comments_path(@group_post), remote: true do |f| %>
      <%=f.label :コメント %>
      <%=f.text_field :comment %>
      <%=f.submit "送信する",class:"btn btn-success" %>
    <% end %>
  </div>

  <div>
    <% if @group_post.user == current_user %>
      <%= link_to "編集する", edit_group_group_post_path(@group_post.group, @group_post) %>
      <%= link_to "削除する", group_group_post_path(@group_post.group, @group_post), method: :delete, "data-confirm" => "削除しますか？" %>
    <% end %>
    <%= link_to "グループトップへ", group_path(@group) %>
  </div>

</div>
