<div class="container col-sm-8 col-10">
  <div class="row mt-4">
    <h2 class="font-name name">タイトル：<%= @group_post.title %></h2>
  </div>

  <div class="mt-2">
    <h5 class="font-name">投稿者：<%= @group_post.user.name %></h5>
  </div>
  
  <div class="mt-4">
    <h4 class="font-name">投稿内容</h4>
    <div class="card border-dark">
      <%= simple_format(Rinku.auto_link(@group_post.content, :all, 'target="_blank"').html_safe) %>
    </div>
  </div>

  <div class="row">
    <div id="favorite" class="mt-2 ml-3">
      <!--ユーザー側のお気に入り機能の非同期通信-->
      <%= render 'public/group_post_favorites/group_post_favorites', group_post: @group_post, group_post_favorite_id: @group_post_favorite_id %>
    </div>
    <div class="ml-auto">
      <p>
        作成日時：<%= @group_post.created_at.to_s(:datetime_jp) %><br/>
        更新日時：<%= @group_post.updated_at.to_s(:datetime_jp) %><br/>
        閲覧数：<%= @group_post.impressionist_count(:filter=>:ip_address) %>
      <p>
    </div>
  </div>
  
  <div class="mt-5">
    <h4 class="font-name">コメント一覧</h4>
    <div class="comment">
      <!--ユーザー側のコメント機能の非同期通信-->
      <%= render 'public/group_post_comments/group_post_comments', group_post: @group_post %>
    </div>
    <div class="comment-fixed row justify-content-center shadow-lg mt-4">
      <%= form_with model: @group_post_comment, url: group_post_group_post_comments_path(@group_post), remote: true do |f| %>
        <%=f.text_field :comment %>
        <%=f.submit "コメント", class:"font-name btn btn-success" %>
      <% end %>
    </div>
  </div>
  
  <div class="pagination">
    <%= paginate @group_post_comments %>
  </div>

  <div class="row justify-content-center my-5">
    <% if @group_post.user == current_user %>
      <%= link_to "投稿を編集する", edit_group_group_post_path(@group_post.group, @group_post), class:"font-name btn btn-secondary mt-2 col-sm-3 col-6" %>
      <%= link_to "投稿を削除する", group_group_post_path(@group_post.group, @group_post), method: :delete, "data-confirm" => "削除しますか？", class:"font-name btn btn-danger mt-2 mx-5 col-sm-3 col-6" %>
    <% end %>
    <%= link_to "グループトップへ", group_path(@group), class:"font-name btn btn-primary mt-2 col-sm-3 col-6" %>
  </div>

</div>
