<div class="container col-sm-8 col-10">
  <div class="row mt-4">
    <div><%= attachment_image_tag @group, :group_image, :fill, 80, 80, fallback: "no-image.png", size: "80x80", class:"rounded-circle" %></div>
    <h2 class="font-name name d-flex align-items-center ml-3 my-2">コミュニティ名：<%= @group.name %></h2>
  </div>

  <div>
    <% unless @tag == nil %>
      <% @hashname.each do |hashname| %>
        <%= link_to admin_path(hashname.id) do %>
          #<%= hashname.name %>
        <% end %>  
      <% end %>
    <% end %>
  </div>

  <div class="mt-2">
    <%= link_to "メンバー一覧", admin_group_members_path(@group), class:"font-name btn btn-info col-sm-4 col-10" %>
  </div>

  <div>
    <h4 class="font-name mt-3">概要</h4>
    <div class="card border-dark">
      <%= simple_format(Rinku.auto_link(@group.introduction, :all, 'target="_blank"').html_safe) %>
    </div>
  </div>

  <div class="row mt-5">
    <h4 class="font-name">投稿一覧</h4>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>タイトル</th>
          <th>投稿者</th>
          <th>コメント数</th>
          <th>PV数</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @group_posts.each do |group_post| %>
          <tr>
            <td><%= group_post.title %></td>
            <td><%= group_post.user.name %></td>
            <td><%= group_post.group_post_comment.count %></td>
            <td><%= group_post.impressionist_count(:filter=>:ip_address) %></td>
            <td><%= link_to "詳細", admin_group_group_post_path(@group, group_post) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<div class="row justify-content-center">
    <% if @group_posts.empty? %>
      <div class="pagination">投稿はありません</div>
    <% end %>
  </div>

  <div class="pagination">
    <%= paginate @group_posts %>
  </div>

  <div class="row justify-content-center my-4">
    <%= link_to "グループを削除する", admin_group_path(@group), method: :delete, "data-confirm" => "削除しますか？", class: "font-name btn btn-danger col-sm-3 col-8" %>
  </div>

</div>