<div class="container">
  <h2>ユーザー一覧</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>PF画像</th>
        <th>ニックネーム</th>
        <th>参加コミュニティ数</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <%= @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.profile_image %></td>
        <td><%= user.name %></td>
        <td><%= user.group.count %></td>
        <td>
          <% if user.is_active? %>
          
          <% else %>
          
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>