<div class="container col-sm-6 col-10">
  <div class="row mt-4">
    <div><%= attachment_image_tag @user, :profile_image, :fill, 80, 80, fallback: "no-image.png", size: "80x80", class:"rounded-circle" %></div>
    <div class="font-name d-flex align-items-center ml-3">チャンネル名：<%= @user.name %></div>
  </div>
  
  <div class="mt-4">
    <h4 class="font-name">概要</h4>
    <div class="card border-dark">
      <% if @user.introduction != nil %>
        <%= simple_format(Rinku.auto_link(@user.introduction, :all, 'target="_blank"').html_safe) %>
      <% else %>
        <%= @user.introduction %>
      <% end %>
    </div>
  </div>
  
  <div class="my-4">
    <h4 class="font-name">参加コミュニティ</h4>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>コミュニティ画像</th>
          <th>コミュニティ名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
        <tr>
          <td><%= attachment_image_tag group, :group_image, :fill, 60, 60, fallback: "no-image.png", size: "60x60", class:"rounded-circle" %></td>
          <td><%= group.name %></td>
          <td><%= link_to "詳細", admin_group_path(group) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
