<div class="container col-sm-6 col-10">
  <div class="row mt-4">
    <div><%= attachment_image_tag @user, :profile_image, :fill, 80, 80, fallback: "no-image.png", size: "80x80", class:"rounded-circle" %></div>
    <div class="font-name d-flex align-items-center ml-3">ニックネーム：<%= @user.name %></div>
  </div>

  <div class="row mt-2">
    <div>
    <%= link_to user_followings_path(@user) do %>
      フォロー数:<%= @user.followings.count %>
    <% end %>
    </div>
    <div class="ml-3">
    <%= link_to user_followers_path(@user) do %>
      フォロワー数:<%= @user.followers.count %>
    <% end %>
    </div>
  </div>

  <div class="mt-2">
    <% if current_user != @user %>
      <%= link_to " チャットを始める", chat_path(@user), class:"btn btn-lg btn-info fa fa-comments col-sm-5 col-10" %>
    <% else %>
      <%= link_to " プロフィール編集", edit_user_path(@user), class:"btn btn-lg btn-secondary fas fa-user-cog col-sm-5 col-10" %>
    <% end %>
  </div>

  <!--フォローフォロワー機能の非同期通信-->
  <div id="relationship" class="mt-2">
    <%= render 'public/relationships/relationships', user: @user %>
  </div>

  <div class="mt-4">
    <h4>概要</h4>
    <div class="card border-dark">
      <% if @user.introduction != nil %>
        <%= simple_format(Rinku.auto_link(@user.introduction, :all, 'target="_blank"').html_safe) %>
      <% else %>
        <%= @user.introduction %>
      <% end %>
    </div>
  </div>

  <div class="mt-4">
    <h4>参加コミュニティ</h4>
    <div class="card border-dark">
      <% @groups.each do |group| %>
        <%= link_to group_path(group) do %>
          <%= group.name %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center my-4">
    <% if @user.id == current_user.id %>
      <%= link_to "退会する",user_users_quit_path(@user), class:"btn btn-danger col-5" %>
    <% end %>
  </div>

</div>
