<div class="container col-sm-6 col-10">
  <div class="row mt-4">
    <div><%= attachment_image_tag @user, :profile_image, :fill, 80, 80, fallback: "no-image.png", size: "80x80", class:"rounded-circle" %></div>
    <div class="font-name d-flex align-items-center ml-3">ニックネーム：<%= @user.name %></div>
  </div>

  <div class="row mt-2">
    <div>
    <%= link_to user_followings_path(@user) do %>
      フォロー数:<%= @user.followings.count %>
    <% end %>
    </div>
    <div class="ml-3">
    <%= link_to user_followers_path(@user) do %>
      フォロワー数:<%= @user.followers.count %>
    <% end %>
    </div>
  </div>

  <div class="mt-2">
    <% if current_user != @user %>
      <%= link_to chat_path(@user), class:"font-name btn btn-info col-sm-5 col-8" do %>
        <i class="fa fa-comments"></i> チャットを始める
      <% end %>
    <% else %>
      <%= link_to edit_user_path(@user), class:"font-name btn btn-secondary col-sm-5 col-8" do %>
        <i class="fas fa-user-cog"></i> プロフィール編集
      <% end %>
    <% end %>
  </div>

  <!--フォローフォロワー機能の非同期通信-->
  <div id="relationship" class="mt-2">
    <%= render 'public/relationships/relationships', user: @user %>
  </div>

  <div class="mt-4">
    <h4 class="font-name">概要</h4>
    <div class="card border-dark">
      <% if @user.introduction != nil %>
        <%= simple_format(Rinku.auto_link(@user.introduction, :all, 'target="_blank"').html_safe) %>
      <% else %>
        <%= @user.introduction %>
      <% end %>
    </div>
  </div>

  <div class="mt-4">
    <h4 class="font-name">参加コミュニティ</h4>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>コミュニティ画像</th>
          <th>コミュニティ名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
        <tr>
          <td><%= attachment_image_tag group, :group_image, :fill, 60, 60, fallback: "no-image.png", size: "60x60", class:"rounded-circle" %></td>
          <td><%= group.name %></td>
          <td><%= link_to "詳細", group_path(group) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-center my-4">
    <% if @user.id == current_user.id %>
      <%= link_to "退会する",user_users_quit_path(@user), class:"font-name btn btn-danger col-5" %>
    <% end %>
  </div>

</div>
